/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    background-color: #181818;
    color: #ffffff;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem 0;
    font-size: 1.75rem;
    font-weight: 500;
}

h2 {
    display: block;
    text-align: center;
    font-size: 1.25rem;
}

h3 {
    font-weight: 400;
}

p {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

@media (min-width: 43.75rem) {

    p {
        font-size: 1.2rem;
    }

}


/* Elements
--------------------------------------------- */
ul {
	list-style: none;
}

/* Links
--------------------------------------------- */
a,
a:visited,
a:hover,
a:active {
	color: #ffb643;
    text-decoration: none;
    outline: none;
    border: none;
}

a:focus {
	color: #ffffff;
    background-color: #181818;
    border-style: solid;
    border-color: #ffb643;
    border-radius: 1rem;
    outline: none;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Skip to content link */
.skip-link {
    position: absolute;
    transform: translateX(-100%);
    font-size: 2rem;
    font-weight: bold;
}

.skip-link:focus {
    transform: translateX(0%);
    top: 1rem;
    left: 40%;
    padding: 1rem;
    z-index: 100;
    color: #000000;
    background-color: #ffffff;
}

/* From in-class code */
.site-wrapper {
	/* This is for very large screens */
	max-width: 120rem;
	margin: 0 auto;
}

/* Header
--------------------------------------------- */
.site-header {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0.8;
    border-bottom: .25rem solid #585858;
    position: sticky;
    top: 0;
}

@media (min-width: 43.75rem) {

    .site-header {
        position: relative;
    }
    
}

/* Adjust nav padding for larger screens */
@media (min-width: 62.5rem) {

    .site-header {
        padding: 0 1.25rem;
    }

}

.logo {
    display: none;
}

.site-nav {
    display: block;
    padding: 0.75rem;
    margin: 0 auto;
}

.site-nav a {
    padding: 0.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.site-nav ul {
    padding: 0;
    margin: 0;
}

.site-nav ul li {
    display: inline-block;
}

@media (min-width: 43.75rem) {

    .logo {
        display: inline-block;
        height: 2.875rem;
        width: 2.875rem;
        margin: 0.5rem;
    }

    .site-nav {
        margin: 0;
    }

    .site-nav a {
        font-size: 1.4rem;
    }
}

/* Main
--------------------------------------------- */

main {
    margin: auto;
    max-width: 100rem;
}


/* Footer
--------------------------------------------- */

.site-footer {
    background-color: #333333;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0.75rem 0;
}

.site-footer p {
    margin: 0 auto;
    color: #ffb643;
}

@media (min-width: 43.75rem) {

    .site-footer {
        padding: 1.25rem 0;
    }

}